{% extends 'events/base.html' %}

{% block content %}
  <div class="post">
    <div class="event">
        <a class="btn btn-default" href="{% url 'update_event' event_id=event.id %}"><i class="bi bi-vector-pen"></i>Edit Event</a>
        <h2>{{ event.name }}</h2>
        <div class="datetime">
          Created on: {{ event.created_at }}
        </div>
        <div>
          Starts at: {{ event.starts_at }}    ||    
          Ends at: {{ event.ends_at }}
        </div>
        <p>{{ event.description|linebreaksbr }}</p>
      </div>
    <a href="{% url 'delete_event' event_id=event.id %}">Delete Event</a>
  </div>
{% endblock %}